img { width: 100px; margin-bottom: 10px; }

ul, ol {
    list-style: none;
}

#accordion1 li.panel{
    margin-bottom: 0px;
}

.jumbotron {
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  /*margin:0 auto;*/
  color: black;
  background-color: #eee;
  /*width: 70%;*/

}

.page-header{
  text-align: center;
}

.card{
  margin:0 auto;
}

.display{
  display: flex;
  margin:0 auto;
}

#accordion2 {
  display:block;
  margin:0px 10px 10px auto;
}

#accordion1 {
  display:block;
  margin:0px auto 10px 10px;
}
.list-container {
  border-top: 1px solid #c1c1c1;
  padding: 5px 0px;
}
.list-profile-image-container {
  display:inline-block;
}

.list-profile-image-container img{
  width:45px;
}

.list-profile-name {
  display:inline-block;
  width:80%;
  padding-left:10px;
}

.scrollx {
  overflow: auto;
  white-space: nowrap;
}
.scrollx .qrcodes {
  display:inline-block;
  padding:0px 15px;
}

.thumbnail .caption {
  height: 400px;
  padding:9px 0px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 180px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: auto;
  height:220px;
  display:block;
  margin:0px auto;
}

.panel-heading {
  padding: 10px 0px;
}

.thumbnail {
  border:0px
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#piechart{
  text-align: center;
}
