
  <h1 class="page-header">Blog Feed</h1>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message" *ngIf="message && newPost">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <!-- Panel Start -->
  <div *ngIf="!newPost">
    <div *ngFor="let blog of blogPosts">
      <div class="coloumn">
      <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
          <div class="caption">
    <!--<div id="grid">-->

        <!--<div class="square">-->
          <!-- Panel Title -->
          <div class="panel-heading">
            <a [routerLink]="['/view-blog/', blog._id]">
              <h3 class="panel-title">{{ blog.title }}</h3>
            </a>
          </div>
          <div>
              <img class="img-responsive smaller" [hidden]="blog.imagePath == null" src={{+blog.imagePath}} height="300" width="400" />
          </div>

          <br />
          <br />
          <!-- Panel Footer Start -->
          <div class="panel-footer">
            <strong>Posted by:</strong>
            <a [routerLink]="['/user/',blog.createdBy]">
            {{ blog.createdBy }}
            </a>
            <br />
            <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
            <br />
            <!--<div *ngIf="username === blog.createdBy">-->
            <!--<strong>Likes: </strong>{{ blog.likes }}-->
            <!--<strong>Dislikes: </strong>{{ blog.dislikes }}-->
            <!--</div>-->

            <div *ngIf="blog.tags?.length > 0">
              <strong>Tags: </strong><a [routerLink]="['/search/tags/', tag]" *ngFor="let tag of blog.tags">#{{ tag }}</a>
            </div>

            <br />


            <!-- Likes Dropdown  -->
            <div class="dropdown">
              <!-- Like Button -->
              <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success"  (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
              <div class="dropdown-content">
                <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
              </div>
            </div>

            <!-- Dislikes Dropdown  -->
            <div class="dropdown">
              <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning"  (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes }}</button>
              <div class="dropdown-content">
                <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>

