<h1 class="page-header">Public Profile</h1> <!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass"> {{ message }}</div>
</div>
<div class="jumbotron text-center">
  <div [hidden]="imagePath == null"><img class="img-circle" src={{+imagePath}}/></div>
  <div [hidden]="imagePath != null"><img class="img-circle" src="http://localhost:8080/uploads/download.jpeg"/></div>
  <p><i class="glyphicon glyphicon-user"></i> {{ username }} </p>
  <p><i class="glyphicon glyphicon-envelope"></i> {{ email }} </p>
  <p><i class="glyphicon glyphicon-usd"></i>Reward Score: {{ score }}</p>

  <div class="display">
    <ul class="nav nav-stacked" id="accordion2">
      <a data-toggle="modal" data-target="#followingModal" data-parent="#accordion2" href="#secondLink">{{+followingUsers.length}} Following</a>
    </ul>



    <ul class="nav nav-stacked" id="accordion1">
      <a data-toggle="modal" data-target="#followerModal" data-parent="#accordion1" href="#firstLink">{{+followerUsers.length}} Followers</a>
    </ul>
  </div>

  <div *ngIf="currentUser&&username">
    <div *ngIf="followers.indexOf(this.currentUser)>=0">
      <button type="submit" name="button" (click)="unfollow()" class="btn btn-danger">Unfollow</button>
    </div>
    <div *ngIf="followers.indexOf(this.currentUser)<0">
      <button type="submit" name="button" (click)="follow()" class="btn btn-success">Follow</button>
    </div>
  </div>



</div>
<br>
<br>
<!--<div class="col-sm-9">-->
  <!--<div class="panel-heading">-->
    <!--<h3>About me</h3>-->
    <!--<p style="word-wrap: break-word;"> {{ aboutme }} </p></div>-->

<div id="j2" class="jumbotron text-center">
  <div class="card-body">
    <h3 class="card-title">About Me</h3>
    <p class="card-text">{{ aboutme }}</p>
    <a routerLink="/blog" class="card-link">View Blog</a>
  </div>
</div>
<br>
<br>


  <div *ngFor="let blog of blogPosts">
    <div class="coloumn">
      <div class="col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <!--<div id="grid">-->

            <!--<div class="square">-->
            <!-- Panel Title -->
            <div class="panel-heading">
              <a [routerLink]="['/view-blog/', blog._id]">
                <h3 class="panel-title">{{ blog.title }}</h3>
              </a>
            </div>
            <div>
                <img class="img-responsive smaller" [hidden]="blog.imagePath == null" src={{+blog.imagePath}}
                     height="300" width="400"/>
            </div>

            <br/>
            <br/>
            <!-- Panel Footer Start -->
            <div class="panel-footer">
              <strong>Posted by:</strong>{{ blog.createdBy }}
              <br/>
              <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
              <br/>
              <!--<div *ngIf="username === blog.createdBy">-->
              <!--<strong>Likes: </strong>{{ blog.likes }}-->
              <!--<strong>Dislikes: </strong>{{ blog.dislikes }}-->
              <!--</div>-->

              <div *ngIf="blog.tags?.length > 0">
                <strong>Tags: </strong><a [routerLink]="['/search/tags/', tag]" *ngFor="let tag of blog.tags">#{{ tag
                }}</a>
              </div>

              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

