<h1 class="page-header">Public Profile</h1> <!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass"> {{ message }}</div>
</div>
<div class="jumbotron text-center">
  <div [hidden]="imagePath == null"><img class="img-circle" src={{+imagePath}}/></div>
  <div [hidden]="imagePath != null"><img class="img-circle" src="http://localhost:8080/uploads/download.jpeg"/></div>
  <p><i class="glyphicon glyphicon-user"></i> {{ username }} </p>
  <p><i class="glyphicon glyphicon-envelope"></i> {{ email }} </p>
  <p><i class="glyphicon glyphicon-usd"></i>Reward Score: {{ score }}</p>

  <div class="display">
    <ul class="nav nav-stacked" id="accordion2">
      <a data-toggle="modal" data-target="#followingModal" data-parent="#accordion2" href="#secondLink">{{+followingUsers.length}} Following</a>
    </ul>



    <ul class="nav nav-stacked" id="accordion1">
      <a data-toggle="modal" data-target="#followerModal" data-parent="#accordion1" href="#firstLink">{{+followerUsers.length}} Followers</a>
    </ul>
  </div>

  <div *ngIf="currentUser&&username">
    <div *ngIf="followers.indexOf(this.currentUser)>=0">
      <button type="submit" name="button" (click)="unfollow()" class="btn btn-danger">Unfollow</button>
    </div>
    <div *ngIf="followers.indexOf(this.currentUser)<0">
      <button type="submit" name="button" (click)="follow()" class="btn btn-success">Follow</button>
    </div>
  </div>



</div>
<br>
<br>
<!--<div class="col-sm-9">-->
  <!--<div class="panel-heading">-->
    <!--<h3>About me</h3>-->
    <!--<p style="word-wrap: break-word;"> {{ aboutme }} </p></div>-->

<div id="j2" class="jumbotron text-center">
  <div class="card-body">
    <h3 class="card-title">About Me</h3>
    <p class="card-text">{{ aboutme }}</p>
    <a routerLink="/blog" class="card-link">View Blog</a>
  </div>
</div>
<br>
<br>


  <div *ngFor="let blog of blogPosts">
    <div class="coloumn">
      <div class="col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <!--<div id="grid">-->

            <!--<div class="square">-->
            <!-- Panel Title -->
            <div class="panel-heading">
              <a [routerLink]="['/view-blog/', blog._id]">
                <h3 class="panel-title">{{ blog.title }}</h3>
              </a>
            </div>


            <div>
              <div id="car-{{blog._id}}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol>
                  <li class="carousel-indicators" *ngFor="let imagePath of blog.imagePaths; let RowIndex = index" [attr.data-target]="'#car-'" [attr.data-target]="RowIndex" [ngClass]="{'active': RowIndex == 0}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div *ngFor="let imagePath of blog.imagePaths; let RowIndex = index" class="item" [ngClass]="{'active': RowIndex == 0}">
                    <img src={{imagePath}} alt="">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="/dashboard#car-{{blog._id}}" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="/dashboard#car-{{blog._id}}" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <br />
              <br />
              <!-- Panel Footer Start -->
              <div class="panel-footer">
                <strong>Posted by:</strong>
                <a [routerLink]="['/user/',blog.createdBy]">
                  {{ blog.createdBy }}
                </a>
                <br />
                <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
                <br />
                <!--<div *ngIf="username === blog.createdBy">-->
                <!--<strong>Likes: </strong>{{ blog.likes }}-->
                <!--<strong>Dislikes: </strong>{{ blog.dislikes }}-->
                <!--</div>-->

                <div *ngIf="blog.tags?.length > 0">
                  <strong>Tags: </strong><a [routerLink]="['/search/tags/', tag]" *ngFor="let tag of blog.tags">#{{ tag }}</a>
                </div>

                <br />


                <!-- Likes Dropdown  -->
                <div class="dropdown">
                  <!-- Like Button -->
                  <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success"  (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
                  </div>
                </div>

                <!-- Dislikes Dropdown  -->
                <div class="dropdown">
                  <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning"  (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes }}</button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
