<!--h1 class="page-header">View Blog</h1-->

<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
</div>

<div *ngIf="blog">
  <div class="panel panel-primary">
  <!-- Panel Title -->
  <div class="panel-heading narrow-container">
    <div class="header-date">{{ blog.createdAt | date:'MMM dd, yyyy' }}</div>
    <h3 class="panel-title">{{ blog.title }}</h3>
    <div class="header-author">Post By: {{ blog.createdBy }}</div>
  </div>


    <div>

      <div *ngFor="let imagePath of blog.imagePaths; let RowIndex = index" class="item">
        <div class="narrow-container">
          <img style="width:100%;padding-bottom: 10px" src={{imagePath}} alt="">
        </div>
      </div>


      <!-- Panel Body -->
      <div class="panel-body narrow-container">
        {{ blog.body }}
      </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer narrow-container">
      <div *ngIf="username === blog.createdBy">
        <strong>Likes: </strong>{{ blog.likes }}

        <strong>Dislikes: </strong>{{ blog.dislikes }}
      </div>

      <div *ngIf="blog.tags?.length > 0">
        <strong>Tags: <span class="glyphicon glyphicon-tags"></span> </strong><a class="padding-left-10" [routerLink]="['/search/tags/', tag]" *ngFor="let tag of blog.tags">#{{ tag
        }}</a>
      </div>

      <div *ngIf="blog.productLinks?.length > 0">
        <div class="padding-10">
        <strong>Product Links: </strong><br/>
        <span class="margin-right-10 label label-info link-label" *ngFor="let productLink of blog.productLinks"><a class="white" [routerLink]="['/redirect']" [queryParams]="{ url : productLink, user: blog.createdBy }" >{{ productLink}}</a></span>
        </div>
      </div>


      <!-- Edit Button -->
      <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <!-- Likes Dropdown  -->


      <div class="dropdown">
        <!-- Like Button -->
        <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success"  (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
        </div>
      </div>

      <!-- Dislikes Dropdown  -->
      <div class="dropdown">
        <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning"  (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes }}</button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
      </div>
    </div>

       <!-- Post Comment Box: Start -->
<ul class="list-group narrow-container">
  <li class="list-group-item">
    <!-- Post Comment Button -->
    <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)"
            [disabled]="newComment.indexOf(blog._id) > -1">Post Comment
    </button>
    <br/>
    <br/>
    <div *ngIf="newComment.indexOf(blog._id) > -1">

      <!-- Form: Comment Form Start -->
      <form [formGroup]="commentForm">
        <!-- Textarea Input -->
        <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
        <!-- Validation -->
        <div
          [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
          <ul class="help-block">
            <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field
              is required.
            </li>
            <li
              *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">
              Comment must be at least 1 character but no more than 200.
            </li>
          </ul>
        </div>
        <!-- Post Button -->
        <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info"
                (click)="postComment(blog._id)">Post
        </button>
        <!-- Cancel Button -->
        <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger"
                (click)="cancelSubmission(blog._id)">Cancel
        </button>
      </form>
      <!-- Form: Comment Form End -->

    </div>

    <!-- Show Comments -->
  <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
          <span (click)="expand(blog._id)">
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
  </li>

  <!-- Hide Comments -->
  <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click)="collapse(blog._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
  </li>

  <!-- Comment -->
  <div *ngIf="enabledComments.indexOf(blog._id) > -1">
    <li *ngFor="let comment of blog.comments" class="list-group-item">
      <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
    </li>
  </div>
</ul>
<!-- Post Comment Box: End -->
  </div>
</div>

