/* Dropdown Button */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: auto;
  height:320px;
  display:block;
  margin:0px auto;
}
.panel-heading{
  background-color: transparent;
  border-color: transparent;

}
.header-date{
  font-size: 18px;
  text-align: center;
  padding:20px 0px;
  color:#aeaeb2
}
.header-author{
  font-size: 18px;
  text-align: center;
  color:#aeaeb2
}
.panel-title{
  font-size: 40px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 19px;
  text-align: center;
}
.panel-primary{
  border-color: transparent;
}
.narrow-container{
  width:970px;
  margin:0px auto;
  display:block;
}

narrow-container img{
  width: 100%;
}
.panel-footer{
  background-color:transparent;
  border:0px;
}

.padding-left-10{
  padding-left:10px;
}
.margin-right-10{
  margin-right:10px;
}
.padding-10{
  padding:10px 0px;
}
.white{
  color:#fff;
}
.link-label{
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: inline-block;
}
