<h1 class="page-header">Edit Profile</h1> <!-- Edit Blog Form -->
<div *ngIf="user">
  <form (submit)="updateProfileSubmit()" *ngIf="!loading"> <!-- Email Field -->
    <div class="form-group"><label for="email">Email</label> <!-- Title Input --> <input [disabled]="processing"
                                                                                         type="text" name="email"
                                                                                         placeholder="*Email"
                                                                                         class="form-control"
                                                                                         [(ngModel)]="user.email"/>
    </div> <!-- Aboutme Field -->
    <div class="form-group"><label for="aboutme">About me</label> <!-- Body Input --> <textarea [disabled]="processing"
                                                                                                name="aboutme" rows="8"
                                                                                                cols="80"
                                                                                                class="form-control"
                                                                                                placeholder="*About me"
                                                                                                [(ngModel)]="user.aboutme"></textarea>
    </div> <!-- Go Back Button -->
    <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back
    </button> <!-- Save Changes Button -->
    <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Save Changes</button>
  </form>
</div>
