.navbar-default{
  background-color: brown;
  border-color: brown;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}



.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}


